.arco-layout-header,
.arco-layout-footer,
.arco-layout-sider,
.arco-layout-sider-children,
.arco-layout-content {
  color: var(--color-white);
  text-align: center;
  font-stretch: condensed;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arco-layout-header,
.arco-layout-footer {
  height: 64px;
  background-color: var(--color-primary-light-4);
}

.arco-layout-sider {
  width: 206px;
  background-color: var(--color-primary-light-3);
}

.arco-layout-content {
  background-color: rgb(var(--arcoblue-6));
}